#customers{
    font-family: Arial,Helvetica,sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

#customers td, #customers th{
    border: 1px solid #ddd;
}

#customers th{
    height: 50px;
    background-color: #04aa6d;
    color: white;
}
tr:hover{
    background-color: #ddd;
}
#custmers tr:nth-child(even){
    background-color: #f2f2f2;
}

#custmers2{
    width: 50%;
    border-collapse: collapse;
    text-align: center;
    font-family: cursive  'Courier New', Courier, monospace;
}

#custmers2 td, #customers2 th{
    border:1px solid crimson ;
}

